---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
---
<BaseLayout title="lemonade-37">
  <h1>lemonade-37</h1>
  <p>Programmer</p>

  <Section title="Links">
    <ul>
      <li><a href="https://github.com/lemonade-37" target="_blank" rel="noopener">GitHub</a></li>
      <li><a href="https://lemonade37.hatenablog.jp/" target="_blank" rel="noopener">Blog</a></li>
      <li><a href="https://zenn.dev/lemonade_37" target="_blank" rel="noopener">Zenn</a></li>
      <li><a href="https://speakerdeck.com/lemonade_37" target="_blank" rel="noopener">Speaker Deck</a></li>
      <li><a href="https://x.com/lemonade_37" target="_blank" rel="noopener">X</a></li>
    </ul>
  </Section>

  <Section title="Projects">
    <ul>
      <li><a href="https://hokkaido-travel.fly.dev/" target="_blank" rel="noopener">えぞとらべる</a></li>
      <li><a href="https://rubygems.org/gems/hokkaido_dialect" target="_blank" rel="noopener">hokkaido_dialect gem</a></li>
    </ul>
  </Section>

  <Section title="Communities">
    <ul>
      <li><a href="https://okhotsk-it.connpass.com/" target="_blank" rel="noopener">Okhotsk DEW Community</a></li>
      <li><a href="https://x.com/okhotskDEWc" target="_blank" rel="noopener">Okhotsk DEW Community X</a></li>
      <li><a href="https://railsgirls.com/sapporo-2nd.html" target="_blank" rel="noopener">Rails Girls Sapporo 2nd</a></li>
    </ul>
  </Section>

  <Section title="Certifications">
    <ul>
      <li>Ruby Certified Ruby Examination Silver (Ver. 3)</li>
    </ul>
  </Section>
</BaseLayout>
